<!doctype html>
<html>
	<head>
	 	<title></title>
	 	<link rel='stylesheet' href='/stylesheets/stylesheet.css'>
	 	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,200,100' rel='stylesheet' type='text/css'>
	 	<script src='/javascripts/jquery.js'></script>
	 	<script src='/javascripts/handlebars.js'></script>
	 	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
	 	<script src='/javascripts/script.js'></script>
	</head>
	<body>
		<a href='/'>home</a>
		<div class='submit-form'>
			<form class='submit-post' id='event-submit' role='form' enctype="multipart/form-data" method='POST' action='/upload'>
				<div class='input'>
					<input type='text' name='name' placeholder='Name'>
					<input type='text' name='artist' placeholder='Artist'>
					<input type='number' name='difficulty'>
				</div>
				<div class='textarea'>
					<textarea type='text' rows="10" name='lines' placeholder='Lyrics'></textarea>
				</div>
				<div class='submit-tags'>
					<button class='transition' type="submit">+</button>
				</div>
			</form>
		</div>
	</body>
</html>